*{padding: 0;margin: 0;}
a{text-decoration: none;}
ul li{list-style:none;}

.box, .box img, .box .num_nav{
	width: 800px;
	height:450px;
}
.box{
	text-align: center;
	margin: 50px auto;
	position: relative;
}
.pic_list li, .num_list, .front, .behind {
	position: absolute;
	z-index: 8;
}

.pic_list li {
	position: absolute;
}
.pic_list img{
	border: none;
}
.num_nav{
	position: relative;
}
.num_list{
	position: absolute;
	right:50px;
	bottom: 10px;
	font-size:50%;
}
.num_list li{
	background-color: gray;
	color: white;
	width:20px;
	height: 20px;
	display: inline-block;	/*放置在一行*/
	line-height: 20px;
	text-align:center;
	cursor:pointer;
	margin-left: 5px;
	-overflow:hidden;
}
.num_nav .num_selected{
	background-color: brown;
}

.change_page a{
	background: rgba(0,0,0,0.3);
	color:white;
	text-align: center;
	display: block;
	font-size: 26px;
	width: 30px;
	height: 60px;
	line-height: 60px;
	position: absolute;
	top: 45%;
}
.change_page a:hover{
	background:rgba(0,0,0,0.6);
	} 

.change_page .behind{
	right: 0;
}